@font-face {
    font-family: 'Figtree-Italic';
    src: url('blog-preview-card-main/assets/fonts/Figtree-Italic-VariableFont_wght.ttf');
}
@font-face {
    font-family: 'Figtree';
    src: url('blog-preview-card-main/assets/fonts/Figtree-VariableFont_wght.ttf');
}
body{
    font-family: 'Figtree';
    background-color: hsl(47, 88%, 63%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.post{
    display: flex;
    flex-direction: column;
    justify-content: left;
    row-gap: 10px;
    padding: 15px;
    background-color: hsl(0, 0%, 100%);
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: 6px 6px 0px black;
}
.heading{
   font-weight: 800;
}
.post img{
    border-radius: 20px;
}
.description{
    font-family: 'Figtree';
    opacity: 0.7;
}
.post-photo{
    display: flex;
    align-items: center;
    column-gap: 10px;
}
.post-photo img{
    height: 30px;
}
.btn{
    align-self: flex-start;
    font-weight: 800;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    background-color: hsl(47, 88%, 63%);
}
.heading:hover{
    color:  hsl(47, 88%, 63%);
}